# Server Configuration
server:
  port: 8081

logging:
  file:
    name: src/main/resources/logs/application.log

# Application Name
spring:
  application:
    name: order-service

# Database Configuration - MySQL
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:order_db}
    username: ${DB_USERNAME:mysql}
    password: ${DB_PASSWORD:mysql}
    driver-class-name: com.mysql.cj.jdbc.Driver

  # JPA Configuration
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

# Kafka properties
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_URL:localhost:9092,localhost:9093,localhost:9094}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring:
          json:
            add:
              type:
                headers: false
# Kafka topic config
app:
  kafka:
    topic:
      order-created: order-created-topic
      partitions: 3
      replicas: 3
    max-retry-attempts: 5